* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Lucida Sans","Lucida Sans Regular","Lucida Grande","Lucida Sans Unicode",Geneva,Verdana,sans-serif;

  color: "pink"; /*to display update temp*/

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently supported by Chrome, Edge, Opera and Firefox */
}

body {
  height: 100vh;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  background-color: gray;
}

canvas {
  width: 80vmin;
  aspect-ratio: 1 / 1;
  border: solid black;
  background-color: black;
  cursor: crosshair;
  touch-action: manipulation;
}

.settings {
  display: flex;
  flex-flow: row wrap;
}

label {
  margin: 1vmin;
}

input[type=range] {
  width: 20vmin;
  outline: none;
}

#info {
  display: flex;
}